@import "env";

@import "functions/mod";
@import "mixins/gapped-vertical";

.container {
  @include gapped-vertical($-size-gap);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-password {
  width: 100%;
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 0.5em;
}

#instructions > * {
  text-align: center;
  margin: 0.3em;
  line-height: $-size-line;
}

::ng-deep {
  strong {
    color: mod($-color-background, 1);
  }
}

input {
  width: 100%;
}

.warning {
  color: rgb(247, 54, 54);
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: grey;
  height: 1px;
}