@import 'env';

@import 'functions/mod';
@import 'mixins/gapped-vertical';

app-connect {
  display: block;
  font-size: 1.25rem;
  font-family: 'futura-condensed-medium', 'Roboto Condensed', 'Trebutchet MS', 'Tahoma', 'Geneva',
  'Verdana', 'sans-serif';


  app-window {
    @include gapped-vertical($-size-gap);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.app-connect {
  @include gapped-vertical($-size-gap);

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    line-height: $-size-line;
    text-align: justify;
  }

  strong {
    color: mod($-color-background, 1);
  }

  input {
    width: 100%;
  }

  hr {
    border: 0;
    clear:both;
    display:block;
    width: 80%;
    background-color:grey;
    height: 1px;
  }
}
