<div class="app-connect">
  <p>Connect to a server using its full address. Use the format <strong>address[:port]</strong>. The port defaults to <strong>10578</strong>.</p>

    <input #input type="text" placeholder="Address" (keydown.enter)="connect()" [(ngModel)]="address" spellcheck="false">
    <input type="text" placeholder="Password" (keydown.enter)="connect()" [(ngModel)]="token" spellcheck="false">

  <app-popup-buttons>
    <button [disabled]="connecting" (click)="connect()" data-style-ornament="simple">Connect</button>
    <button [disabled]="connecting" (click)="cancel()" data-style-ornament="simple">Cancel</button>
  </app-popup-buttons>
<hr>
  <button (click)="openServerList()" data-style-ornament="simple">Public servers</button>
</div>
