@import "env";

@import "functions/mod";
@import "mixins/gapped-vertical";

:host {
  display: block;
  font-size: 1.25rem;
}

.app-connect {
  @include gapped-vertical($-size-gap);

  display: flex;
  flex-direction: column;
  align-items: center;

  .save-password {
    margin-top: 0.2em;
    width: 100%;
    display: flex;
    justify-items: start;
    align-items: center;

    label {
      font-size: 0.8em;
    }

    app-checkbox {
      margin-right: 0.3em;
      width: unset;
    }
  }

  p {
    line-height: $-size-line;
    text-align: justify;
  }

  ::ng-deep {
    strong {
      color: mod($-color-background, 1);
    }
  }

  input {
    width: 100%;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 80%;
    background-color: grey;
    height: 1px;
  }
}
