[submodule "Libraries/TiltedReverse"]
	path = Libraries/TiltedReverse
	url = https://github.com/TiltedPhoques/TiltedReverse
[submodule "Libraries/TiltedUI"]
	path = Libraries/TiltedUI
	url = https://github.com/TiltedPhoques/TiltedUI
[submodule "Libraries/TiltedConnect"]
	path = Libraries/TiltedConnect
	url = https://github.com/TiltedPhoques/TiltedConnect
[submodule "Libraries/TiltedHooks"]
	path = Libraries/TiltedHooks
	url = https://github.com/TiltedPhoques/TiltedHooks
[submodule "Libraries/TiltedScript"]
	path = Libraries/TiltedScript
	url = https://github.com/TiltedPhoques/TiltedScript
[submodule "Libraries/cpp-httplib"]
	path = Libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git