*.dmp
*.ilk
*.sym

vsxmake2019
.xmake

Build
Build/*.log
Build/*.torrent

Build/.deps
Build/.objs
Build/.vs
Build/obj
Build/projects

Build/bin
Build/bin64
Build/Release
Build/seed

Build/lib

Build/Bin/logs/
Build/Bin/server/*.pdb
Build/Bin/server/logs/

Code/launcher/build
Code/launcher/dist
Code/launcher/package-lock.json
Code/common/BuildInfo.h

!Code/launcher/.vscode/extensions.json
!Code/launcher/.vscode/settings.json

Code/ui/tmp
Code/ui/out
Code/ui/out_tsc
Code/ui/node_modules

Code/ui/.vscode/*

!Code/ui/.vscode/settings.json
!Code/ui/.vscode/tasks.json
!Code/ui/.vscode/launch.json
!Code/ui/.vscode/extensions.json

Code/ui/npm-debug.log

Code/protocol/cpp/*.h
Code/protocol/cpp/*.cc
Code/skyrimtogether/include/buildver.h

distrib

Libraries/discord_game_sdk
Libraries/DXSDK
Libraries/Vivox
!Libraries/Vivox/xmake.lua

*__pycache__*
Artifacts/Server
Artifacts/Server_r
Artifacts/lib**
Artifacts/logs**
**node_modules**
**ovh.conf**

*.vs*
**/obj/**
/Setup.bat

Package/
