<div *ngIf="!(group$ | async)?.isEnabled ; else inParty">
  <button class="party-menu-button" (click)="launchParty()" [disabled]="isLaunchPartyDisabled$ | async">{{ 'COMPONENT.PARTY_MENU.LAUNCH_PARTY' | transloco }}</button>
  <button
    *ngFor="let player of invitations$ | async"
    class="party-menu-button"
    (click)="acceptPartyInvite(player.id)"
  >
    {{ 'COMPONENT.PARTY_MENU.ACCEPT_INVITE' | transloco:{ name: player.name } }}
  </button>

  <hr class="solid">

  <p style="padding-top: 0.5rem; line-height: 1.3;" [innerHtml]="'COMPONENT.PARTY_MENU.EXPERIENCE_WARNING' | transloco"></p>
  <ul>
    <li style="line-height: 1.3em; height: auto;">{{ 'COMPONENT.PARTY_MENU.GUIDELINES.PARTY' | transloco }}</li>
    <li style="line-height: 1.3em; height: auto;">{{ 'COMPONENT.PARTY_MENU.GUIDELINES.PARTY_LEADER_TALK' | transloco }}</li>
    <li style="line-height: 1.3em; height: auto;">{{ 'COMPONENT.PARTY_MENU.GUIDELINES.PARTY_LEADER_LOOT_QUESTITEMS' | transloco }}</li>
    <li style="line-height: 1.3em; height: auto;">{{ 'COMPONENT.PARTY_MENU.GUIDELINES.KEEP_PARTY_LEADER' | transloco }}</li>
    <li style="line-height: 1.3em; height: auto;">{{ 'COMPONENT.PARTY_MENU.GUIDELINES.ONE_PARTY_PER_SERVER' | transloco }}</li>
  </ul>
</div>

<ng-template #inParty>
  <div *ngIf="(memberCount$ | async) === 0 ; else notEmpty" style="margin-bottom: 1.0rem;" class="no-players">
    <span>{{ 'COMPONENT.PARTY_MENU.NO_PLAYERS_IN_PARTY' | transloco }}</span>
  </div>

  <ng-template #notEmpty>
    <div class="server-list">
      <table cellspacing="5" cellpadding="5" class="player-list-table">
        <thead class="list-header">
          <tr>
            <th>{{ 'COMPONENT.PARTY_MENU.TABLE_HEADERS.LEVEL' | transloco }}</th>
            <th>{{ 'COMPONENT.PARTY_MENU.TABLE_HEADERS.NAME' | transloco }}</th>
            <th>{{ 'COMPONENT.PARTY_MENU.TABLE_HEADERS.LOCATION' | transloco }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of members$ | async">
            <td>{{ player.level }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.cellName }}</td>
            <td>
              <button class="user-action-button" (click)="teleportToPlayer(player.id)">
                {{ 'COMPONENT.PARTY_MENU.ACTIONS.TELEPORT' | transloco }}
              </button>
              <button
                (click)="kickMember(player.id)"
                [disabled]="!(isPartyLeader$ | async)" class="user-action-button"
                [ngClass]="!(isPartyLeader$ | async) ? 'hidden' : ''"
              >
                {{ 'COMPONENT.PARTY_MENU.ACTIONS.KICK' | transloco }}
              </button>
              <!--
              <button
                [disabled]="!isPartyLeader"
                class="user-action-button"
                [ngClass]="!isPartyLeader ? 'hidden' : ''"
                (click)="changeLeader(player.id)"
              >
                {{ 'COMPONENT.PARTY_MENU.ACTIONS.MAKE_LEADER' | transloco }}
              </button>
              -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <button class="party-menu-button btn" (click)="leave()">
    {{ 'COMPONENT.PARTY_MENU.LEAVE_PARTY' | transloco }}
  </button>
</ng-template>
