:host {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.separator, hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.optional-info {
  line-height: 1.3;
  margin-top: 0;
}

.no-players {
  overflow: hidden;
}

.no-invites {
  margin: 3%;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.party-menu-button {
  padding: 0.25vw;
  background-color: #292929;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 0.5rem;

  &:first-of-type {
    margin-top: 0.5rem;
  }
}

.server-list {
  overflow: auto;
  max-height: 60vh;
  margin-bottom: 1.0rem;

  .player-list-table {
    width: 100%;
    border-collapse: collapse;

    .list-header {
      position: sticky;
      top: 0;
      background-color: #151515;
      z-index: 1;
    }

    th {
      text-align: left;
      border-bottom: 1px solid grey;
      border-collapse: separate;

      button {
        padding: 0 0.5rem;
      }
    }

    tr:not(:last-child) {
      border-bottom: 1px solid grey;
      padding: 15px;
    }

    .user-action-button {
      padding: 0.25vw;
      background-color: #292929;
      border-radius: 2px;
      margin-left: 5%;
    }
  }
}
