// Skyrim Together look: white UI on black.
$-color-background: #000000;
$-color-tint: #ffffff;

$-font-default: 'futura-condensed-medium', 'Roboto Condensed', 'Trebutchet MS',
  'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
