#include <winres.h>
#include <BuildInfo.h>
#include <BranchInfo.h>

VS_VERSION_INFO VERSIONINFO
FILEFLAGSMASK 0x17L
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Together Team"
            VALUE "ProductName", "2Gether4Ever"
            VALUE "FileDescription", "Multiplayer mod for Bethesda games."
            VALUE "OriginalFilename", "together_launcher.exe"
            VALUE "ProductVersion",	BUILD_BRANCH "@" BUILD_COMMIT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "launcher.manifest"

// THERE IS NO BETTER WAY
#if defined(TARGET_ST)
#if (IS_TESTING)
102 ICON "st_pre.ico"
#elif (IS_SHIPPING)
102 ICON "st.ico"
#else
102 ICON "st_dev.ico"
#endif
#elif defined(TARGET_FT)
#if (IS_TESTING)
102 ICON "ft_pre.ico"
#elif (IS_SHIPPING)
102 ICON "ft.ico"
#else
102 ICON "ft_dev.ico"
#endif
#endif
