<div class="container">
    <div class="settings">

        <h2>Audio</h2>
        <div class="flex-item">
            <label for="muted">Mute UI</label>
            <input id="muted" type="checkbox" [value]="muted" [checked]="muted" (change)="onMutedChange($event)">
        </div>
        <div class="flex-item">
            <label for="volume">UI Volume</label>
            <input id="volume" class="volumeSlider" type="range" min="0.0" max="1.0" step="0.1" [value]="volume"
                (change)="onVolumeChange($event)">
        </div>
        <hr>
        <h2>Party</h2>
        <div class="flex-item">
            <label for="showParty">Show Party</label>
            <input id="showParty" type="checkbox" [value]="showParty" [checked]="showParty" [disabled]="autoHideParty"
                (change)="onShowPartyChange($event)">
        </div>
        <div class="flex-item">
            <label for="autoHideParty">Auto Hide Party</label>
            <input id="autoHideParty" type="checkbox" [value]="autoHideParty" [checked]="autoHideParty"
                (change)="onAutoHidePartyChange($event)">
        </div>
        <div class="flex-item">
            <label>Auto Hide Timer Length</label>
            <div class="radioBtn">
                <label for="autoHideTime1">1s</label>
                <input id="autoHideTime1" type="radio" value="1" name="autoHideTime" [checked]="autoHideTimeSelected(1)" (change)="onAutoHideTimeChange($event)">
                <label for="autoHideTime3">3s</label>
                <input id="autoHideTime3" type="radio" value="3" name="autoHideTime" [checked]="autoHideTimeSelected(3)" (change)="onAutoHideTimeChange($event)">
                <label for="autoHideTime5">5s</label>
                <input id="autoHideTime5" type="radio" value="5" name="autoHideTime" [checked]="autoHideTimeSelected(5)" (change)="onAutoHideTimeChange($event)">
            </div>
        </div>
        <hr>
        <h2>Debug</h2>
        <div class="flex-item">
            <label for="showDebug">Show Debug Information</label>
            <input id="showDebug" type="checkbox" [value]="showDebug" [checked]="showDebug"
                (change)="onShowDebugChange($event)">
        </div>
        <hr>
    </div>
    <div class="buttons">
        <button class="btnCancel" (click)="cancel()">Back</button>
    </div>
</div>