@import "env";

@import "functions/rem";

:host {
  position: relative;
  display: flex;
  flex-direction: column;

  .tab-buttons {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: rem($-size-font, 2px);
    border-bottom: rem($-size-font, 2px) solid;
    border-image: url("../../../assets/images/separator/single.svg") 3;

    button {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
    }
  }

  .actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
