<div class="tab-buttons">
  <button
    data-style-ornament="inverted"
    [attr.data-style-active]="(activeTab | async) === PlayerManagerTab.PLAYER_LIST"
    (click)="switchTab(PlayerManagerTab.PLAYER_LIST)"
  >
    Player List
  </button>
  <button
    data-style-ornament="inverted"
    [attr.data-style-active]="(activeTab | async) === PlayerManagerTab.PARTY_MENU"
    (click)="switchTab(PlayerManagerTab.PARTY_MENU)"
  >
    Party Menu
  </button>
</div>

<ng-container [ngSwitch]="activeTab | async">
  <app-player-list *ngSwitchCase="PlayerManagerTab.PLAYER_LIST"></app-player-list>
  <app-party-menu *ngSwitchCase="PlayerManagerTab.PARTY_MENU"></app-party-menu>
</ng-container>

<div class="actions">
  <button data-style-ornament="simple" class="btnCancel" (click)="close()">Back</button>
</div>
