@import "mixins/gapped-vertical";

@import "env";

:host {
  @include gapped-vertical($-size-gap);

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  line-height: $-size-line;
}
