@import 'mixins/gapped-vertical';

@import 'env';

:host {
  @include gapped-vertical($-size-gap);

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  line-height: $-size-line;
}

button {
  min-width: 4em;
  padding: 0.5em;
  background-color: #292929;
  border-radius: 2px;
  margin: 0 2em;
}