@import "env";

@import "functions/mod";
@import "mixins/gapped-vertical";

:host {
  display: block;
  min-width: 10vw;
  min-height: 2vw;
  margin-right: 2em;
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 1em;
  }
}

.notification-popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.friendavatar {
  margin-left: 1em;
  margin-right: 1em;
  width: 2vw;
  height: 2vw;
  background-size: contain;
}

.text-connection-popup {
  color: white;
  white-space: normal;
  flex: 1 1 auto;
}

.friendstatus {
  width: 0.5em;
  height: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  background: #993333;
  border-radius: 50%;

  &.online {
    background: #339933;
  }
}


