<div id="noPlayers" *ngIf="(playerListLength$ | async) === 0 ; else notEmpty">
  <span>Nobody here but us chickens!</span>
</div>

<ng-template #notEmpty>
  <div class="container-list">
    <table cellspacing="5" cellpadding="5" class="player-list-table">
      <thead class="list-header">
        <tr>
          <th>Lv.</th>
          <th>Name</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="listBody">
        <tr *ngFor="let player of playerList$ | async">
          <td>{{ player.level }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.cellName }}</td>
          <td class="actions-col">
            <button
              [class.hidden]="player.isMember || !(isPartyLeader$ | async)"
              [disabled]="player.hasBeenInvited || player.isMember || !(isPartyLeader$ | async)"
              class="user-action-button"
              (click)="sendPartyInvite(player.id)"
            >
              Invite
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
