<div id="noPlayers" *ngIf="getListSize === 0 ; else notEmpty">
  Nobody here but us chickens!
</div>

<ng-template #notEmpty>
  <div class="containerList">
    <table cellspacing="5" cellpadding="5" class="playerListTable">
      <thead class="listHeader">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Location</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="listBody">
        <tr *ngFor="let player of playerList!.players | keyvalue">
          <td>{{ player.value.serverId }}</td>
          <td>{{ player.value.name }}</td>
          <td>{{ player.value.cellName }}</td>
          <td><button (click)="teleportToPlayer(player.value.serverId)" class="teleBtn">Teleport</button></td>
          <td><button (click)="sendPartyInvite(player.value.serverId)" [disabled]="isPlayerNotInvitable(player.value.serverId)" class="teleBtn">Send party invite</button></td>
          <td><button (click)="acceptPartyInvite(player.value.serverId)" [disabled]="isPlayerNotInvitedToParty(player.value)" class="teleBtn">Accept party invite</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>