@import "env";

:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparentize($-color-background, 0.8);

  > app-window {
    flex: 0 0 auto;
    max-width: calc(100vw - #{2 * $-size-gap});
    max-height: calc(100vh - #{2 * $-size-gap});
  }
}


