@import "functions/mod";
@import "functions/rem";

@import "env";

@font-face {
  font-family: "futura-condensed-medium";
  src: url(assets/fonts/futura-condensed/futura-condensed-medium.otf);
}

* {
  font-family: $-font-default;
}

input {
  font-size: 1rem;
}

input::placeholder {
  font-size: 1rem !important;
}

::selection {
  color: $-color-background;
  background: mod($-color-background, 1);
}

*,
*::before,
*::after {
  outline: 0;
  user-select: none;
  color: inherit;
  box-sizing: border-box;
}

*,
*::before,
*::after,
button,
input,
textarea,
optgroup,
select {
  line-height: 1em;
}

input:not([type=checkbox]),
textarea,
select {
  display: block;
  padding: $-size-gap * 0.5;
  background: transparent;
  color: mod($-color-background, 1);
  border: rem($-size-font, 2px) solid;
  border-image: url("assets/images/separator/single.svg") 3;
}

input[type=range] {
  border: 0;
  padding: 0;
}

input:not([type=checkbox]),
textarea {
  user-select: contain;
}

option {
  background: $-color-background;
}

button {
  border: 0;
  opacity: 0.5;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  padding: $-size-gap * 0.5;
  color: mod($-color-background, 1);

  &:hover:not([disabled]),
  &[data-style-active=true] {
    opacity: 1;
  }

  &[data-style-active=true][data-style-ornament=inverted] {

    &::before,
    &::after {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &:hover:not([disabled])[data-style-ornament=simple] {

    &::before,
    &::after {
      opacity: 1 !important;
    }
  }

  &[data-style-align=left] {
    text-align: left;

    &::after {
      display: none;
    }
  }

  &[data-style-align=center] {
    text-align: center;
    justify-content: space-between;
  }

  &[data-style-align=right] {
    text-align: right;

    &::before {
      display: none;
    }
  }

  &[data-style-ornament] {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      opacity: 0;
      width: 1em;
      height: 1em;
      content: "";
      background: center / contain no-repeat;
    }

    &::before {
      margin-right: $-size-gap * 0.5;
    }

    &::after {
      margin-left: $-size-gap * 0.5;
    }
  }

  &[data-style-ornament=simple] {
    &::before {
      background-image: url(assets/images/arrow/east.svg);
    }

    &::after {
      background-image: url(assets/images/arrow/west.svg);
    }
  }

  &[data-style-ornament=inverted] {

    &::before,
    &::after {
      opacity: 0;
      transition: all $-time-transition;
    }

    &::before {
      background-image: url(assets/images/arrow/west.svg);
      transform: translateX(-$-size-gap);
    }

    &::after {
      background-image: url(assets/images/arrow/east.svg);
      transform: translateX($-size-gap);
    }
  }
}

:root {
  font-size: calc(16 * 100vw / 1920);
}

::-webkit-scrollbar {
  width: $scrollbar;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  border: rem($-size-font, 3px) solid;
  border-image: url("assets/images/scrollbar/track.svg") 4 fill;
}

::-webkit-scrollbar-thumb {
  background-image: url(assets/images/scrollbar/thumb-inactive.svg);

  &:hover {
    background-image: url(assets/images/scrollbar/thumb-active.svg);
  }
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=checkbox] {
  width: $scrollbar;
  height: $scrollbar;
}

::-webkit-slider-runnable-track {
  border-image: url("assets/images/scrollbar/track.svg") 4 fill;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: $scrollbar;
  height: $scrollbar;

  background-image: url(assets/images/scrollbar/thumb-inactive.svg);

  &:hover {
    background-image: url(assets/images/scrollbar/thumb-active.svg);
  }
}

body {
  margin: 0;
  cursor: default;
  overflow: hidden;
  color: mod($-color-background);
  background: transparent;
}

app-root {
  height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
}

hr {
  border-image: url(./assets/images/separator/single.svg) 3;
}

.separator {
  text-align: center;
  border: 0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  &:before, &:after {
    content: "";
    height: 2px;
    width: 50%;
    margin-right: 0.5em;
    margin-left: 0.5em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: rem($-size-font, 2px);
    border-bottom: rem($-size-font, 2px) solid;
    border-image: url(./assets/images/separator/single.svg) 3;
  }

  &:before {
    margin-left: -100%;
  }

  &:after {
    margin-right: -100%;
  }

}
