@import "env";

@import "mixins/gapped-vertical";
@import "functions/mod";
@import "functions/rem";

:host {
  display: block;

  &[data-app-root-game=false] {
    $background: mod($-color-background, 0.1);
    $lines: mod($background, 0.1);

    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent #{$-size-gap},
        $lines #{$-size-gap},
        $lines calc(#{$-size-gap} + 1px)
    ), repeating-linear-gradient(
        to bottom,
        transparent,
        transparent #{$-size-gap},
        $lines #{$-size-gap},
        $lines calc(#{$-size-gap} + 1px)
    ) $background;
  }

  > app-notifications {
    width: 30vw;
    left: $-size-gap;
    bottom: $-size-gap;
    position: absolute;
  }
}

.background-element {
  opacity: 30%;
}

::ng-deep {
  .app-root-popups {
    > app-popup > app-window {
      max-width: 30vw;
      min-width: 20vw;
    }

    > app-popup[data-popup=server] > app-window {
      max-width: 75vw;
      min-width: 40vw;
    }

    > app-popup[data-popup=settings] > app-window {
      max-width: 30vw;
      min-width: 25vw;
    }

    > app-popup[data-popup=playerManager] > app-window {
      max-width: 30vw;
      min-width: 25vw;
    }
  }
}

.app-root-controls {
  @include gapped-vertical($-size-gap);

  position: absolute;
  left: $-size-gap;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  bottom: $-size-gap;
}

.app-root-menu,
.app-root-chat {
  flex: 0 0 auto;
}

.app-root-menu {
  display: flex;
  height: rem($-size-font, 64px);

  > button {
    flex: 1 1 auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.app-root-chat {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;

  > app-chat {
    margin: rem($-size-font, 2px);
    flex: 1 1 auto;
  }
}
