<ng-container *ngIf="inGame$ | async">

  <ng-container *ngIf="!(menuOpen$ | async)">
    <app-debug></app-debug>

    <app-group></app-group>
  </ng-container>

  <app-notification-popup class="app-notification-popup" border="strip"></app-notification-popup>

  <app-notifications [@notifications]="!(active$ | async)"></app-notifications>
  <div [@controls]="(active$ | async)" [ngClass]="(connected$ | async) ? 'app-root-controls-wide' : 'app-root-controls'">
    <app-window *ngIf="showAppWindow || (connected$ | async)" border="strip" class="app-root-menu">
      <button
        *ngIf="!(connected$ | async) && !(connectionInProgress$ | async)"
        data-style-ornament="inverted"
        [attr.data-style-active]="(view | async) === RootView.CONNECT"
        (click)="setView(RootView.CONNECT)"
      >
        Connect
      </button>
      <ng-container *ngIf="(connected$ | async)">
        <button
          data-style-ornament="inverted"
          [attr.data-style-active]="(view | async) === RootView.DISCONNECT"
          (click)="setView(RootView.DISCONNECT)"
        >
          Disconnect
        </button>
        <!--
        <button
          data-style-ornament="inverted"
          [attr.data-style-active]="(view | async) === RootView.RECONNECT"
          (click)="reconnect()"
        >
          Reconnect
        </button>
        -->
        <button
          data-style-ornament="inverted"
          [attr.data-style-active]="(view | async) === RootView.PLAYER_MANAGER"
          (click)="setView(RootView.PLAYER_MANAGER)"
        >
          Player Manager
        </button>
      </ng-container>
      <button
        data-style-ornament="inverted"
        [attr.data-style-active]="(view | async) === RootView.SETTINGS"
        (click)="setView(RootView.SETTINGS)"
      >
        Settings
      </button>
      <button
        *ngIf="connectionInProgress$ | async"
        data-style-ornament="inverted"
        [attr.data-style-active]="(view | async) === RootView.DISCONNECT"
        (click)="setView(RootView.DISCONNECT)"
      >
        Connection in progress
      </button>
    </app-window>
    <app-window class="app-root-chat">
      <app-chat #chat></app-chat>
    </app-window>
  </div>
  <div [@popups]="(active$ | async)" class="app-root-popups">
    <app-loading></app-loading>

    <ng-container [ngSwitch]="view | async">
      <app-popup *ngSwitchCase="RootView.CONNECT">
        <app-connect (done)="setView(undefined)" (setView)="setView($event)"></app-connect>
      </app-popup>
      <app-popup *ngSwitchCase="RootView.DISCONNECT">
        <app-disconnect (done)="setView(undefined)"></app-disconnect>
      </app-popup>
      <app-popup *ngSwitchCase="RootView.SERVER_LIST" data-popup="server">
        <app-server-list (done)="setView(undefined)" (setView)="setView($event)"></app-server-list>
      </app-popup>
      <app-popup *ngSwitchCase="RootView.SETTINGS" data-popup="settings">
        <app-settings (done)="setView(undefined)" (setView)="setView($event)"></app-settings>
      </app-popup>
      <app-popup *ngSwitchCase="RootView.PLAYER_MANAGER" data-popup="playerManager">
        <app-player-manager (done)="setView(undefined)"></app-player-manager>
      </app-popup>
    </ng-container>

    <app-error></app-error>
  </div>
</ng-container>
