<ng-container *ngIf="inGame">

  <ng-container *ngIf="!openingMenu">
    <app-debug></app-debug>

    <app-group></app-group>
  </ng-container>

  <app-notification-popup class="app-notification-popup" border="strip">

  </app-notification-popup>

  <app-notifications [@notifications]="!active"></app-notifications>
  <div [@controls]="active" [ngClass]="connected ? 'app-root-controls-wide' : 'app-root-controls'">
    <app-window *ngIf="isProduction || isnightly || connected || currentUser" border="strip" class="app-root-menu">
      <button *ngIf="!connected && !isConnectionInProgress" (click)="view = 'connect'" data-style-ornament="inverted"
        [attr.data-style-active]="view === 'connect'">Connect</button>
      <ng-container *ngIf="connected">
        <button (click)="view = 'disconnect'" data-style-ornament="inverted"
          [attr.data-style-active]="view === 'disconnect'">Disconnect</button>
        <!--
          <button (click)="reconnect()" data-style-ornament="inverted"
          [attr.data-style-active]="view === 'reconnect'">Reconnect</button>
        -->
        <button (click)="view = 'playerManager'" data-style-ornament="inverted" [attr.data-style-active]="view === 'playerManager'">
          Player Manager
        </button>
      </ng-container>
      <button (click)="view = 'settings'" data-style-ornament="inverted" [attr.data-style-active]="view === 'settings'">
        Settings
      </button>
      <button *ngIf="isConnectionInProgress" (click)="view = 'disconnect'" data-style-ornament="inverted"
        [attr.data-style-active]="view === 'disconnect'">Connection in progress</button>
    </app-window>
    <app-window class="app-root-chat">
      <app-chat #chat></app-chat>
    </app-window>
  </div>
  <div [@popups]="active" class="app-root-popups">
    <app-loading></app-loading>
    <app-popup *ngIf="view === 'connect'">
      <app-connect (done)="view = undefined" (setView)="view = $event"></app-connect>
    </app-popup>
    <app-popup *ngIf="view === 'disconnect'">
      <app-disconnect (done)="view = undefined"></app-disconnect>
    </app-popup>
    <app-popup *ngIf="view === 'serverList'" data-popup="server">
      <app-server-list (done)="view = undefined" (setView)="view = $event"></app-server-list>
    </app-popup>
    <app-popup *ngIf="view === 'settings'">
      <app-settings (done)="view = undefined" (setView)="view = $event"></app-settings>
    </app-popup>
    <app-popup *ngIf="view === 'playerManager'">
      <app-player-manager (done)="view = undefined"></app-player-manager>
    </app-popup>

    <app-error></app-error>
  </div>
</ng-container>