<div [@popups]="isShown">
  <div id="app-group-container" *ngIf="group">
    <div [ngClass]="player.value.isLoaded ? 'app-group-member' : 'app-group-member not-loaded'"
      *ngFor="let player of groupMembers | keyvalue" [title]="player.value.cellName">
      <b class="app-group-member-level">{{ player.value.level }} </b>
      <div *ngIf="player.value.health === 0" class="app-group-member-dead">
      </div>
      {{ player.value.name }}
      <div *ngIf="isOwner(player.value.id)" id="app-group-member-leader"></div>
      <div class="app-group-member-health"
        *ngIf="(player.value.health && player.value.health !== 0) && player.value.isLoaded">
        <div class="app-group-member-health-value" [app-health]="player.value.health">
        </div>
      </div>
    </div>
  </div>
</div>